@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
    text-align: center;
}

ul{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}

#header{
    background-color: #DDDDDD;
    height: 100px;
    width: 100%;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}

#topbar_title{
    padding: 10px;
    margin-right: 100px;
}

#topbaritems{
    display: flex;
    width: 500px;
}

#topbaritems > li{
    flex: 1;
}

#topbaritems > li:hover{
    font-weight: bold;
}

#foot{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
    height: 50px
}

#sec2{
    font-size: 1.2em;
}