@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}


body{
    width: 1250px;
    height: 100%;
    margin: 0 auto;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}


body:not(form){
    text-align: center;
}


hr{
    border: 1px solid #DDDDDD;
}


ul{
    list-style-type: none;
}

a:not(#git){
    color: black;
    text-decoration: none;

}

#header{
    background-color: #D9E4DD;
    height: 100px;
    width: 100%;
}

#header{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}

#topbar_title{
    padding: 10px;
    margin-right: 100px;
}

#topbaritems{
    display: flex;
    width: 500px;
}

#topbaritems > li{
    flex: 1;
}

#topbaritems > li:hover{
    font-weight: bold;
}

#foot{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555555;
    height: 50px
}
#sec1{
    font-size: 1.2em;
    background-color: #F0F0F0;
}

#sec2{
    font-size: 1.2em;
    background-color: #CDC9C3;
}

#sec3{
    font-size: 1.2em;
    background-color: #FFFFFF;
}

h3 , #question{
    text-align: left;
    margin: 20px 0 0 30px;
}

#question{
    margin: 0px;
    width: 100%;
}

#question > ul > li{
    padding: 10px;
}

#question > ul > li > label > input{
    width: 200px;
}

#question > ul > li > label > *{
    font-size: 1.1em;
}

h3{

    margin-top: 0px;
    padding-top: 10px;
    user-select: none;
}


textarea{
    width: 400px;
    height: 100px;
}

#buttons{
    text-align: left;
}

#buttons button{
    padding: 5px;
}

#sec2ul{
    margin-bottom: 0px;
}
#steamimg{
    width: 500px;
}
